.error {
    width: auto;
    padding: 10px;
    background-color: brown;
    color: #fff;
    font-family: 'calibri';
}
.success {
    width: auto;
    padding: 10px;
    background-color: rgb(67, 165, 42);
    color: #fff;
    font-family: 'calibri';
}
.default {
    width: auto;
    padding: 10px;
    border:2px solid #333333;
    font-family: 'calibri';
}